/*
NOVALSYS PROJECT
@author : AG
*/

@CHARSET "ISO-8859-1";

/* Style général */

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}
      
#map {
   height: 100%;
}

.icon {
	vertical-align:middle;
	opacity:0.5;
}

/* Style des infobulles */

.imageProfil{
	display:inline-block;
	border-radius:50px;
	vertical-align:top;
}

#content{
	text-align:center;
}

#titleContent{
	display:inline-block;
	margin-left:45px;
	margin-top:30px;
}

